<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuário</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://img.icons8.com/?size=100&id=37930&format=png&color=000000"
    />
    <link rel="stylesheet" href="./styles/sidebar.css" />
    <link rel="stylesheet" href="./styles/global.css" />
    <link rel="stylesheet" href="./styles/modal.css" />
    <script
      src="https://kit.fontawesome.com/0f47102407.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="sidebar">
      <button class="menu-item" id="toggleSidebar">
        <i class="fa-solid fa-bars"></i>
        <span class="menu-text">Recolher</span>
      </button>
      <h4>Menu</h4>
      <ul>
        <!-- Itens do menu serão gerados dinamicamente aqui -->
      </ul>
    </div>
    <div class="content">
      <h2>Cadastrar Usuário</h2>
      <form id="cadastroForm">
        <input type="text" id="cpfCnpjClient" placeholder="CPF/CNPJ" required />
        <input type="text" id="nomeClient" placeholder="Nome" required />
        <input type="email" id="emailClient" placeholder="E-mail" required />
        <input type="password" id="senhaClient" placeholder="Senha" required />
        <select id="cargoClient">
          <option value="cliente">Cliente</option>
          <option value="estagiario">Estagiário</option>
          <option value="assistente">Assistente</option>
          <option value="analista">Analista</option>
          <option value="supervisor">Supervisor</option>
          <option value="coordenador">Coordenador</option>
          <option value="gerente">Gerente</option>
          <option value="diretor">Diretor</option>
          <option value="administrador">Administrador</option>
          <option value="admin">Admin</option>
        </select>

        <select id="empresa" required></select>

        <button type="submit">Cadastrar</button>
      </form>
      <p id="mensagem"></p>

      <!-- Tabela de Usuários Cadastrados -->
      <br />
      <hr />
      <br />
      <h3>Usuários Cadastrados</h3>
      <div class="tabela-scroll">
        <table id="tabelaUsuarios">
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF/CNPJ</th>
              <th>E-mail</th>
              <th>Cargo</th>
              <th>Status</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <!-- Os dados dos usuários serão inseridos aqui dinamicamente -->
          </tbody>
        </table>
      </div>
    </div>
    <script src="./js/sidebar.js"></script>
    <script src="./js/cadastros/cadastroUsuario.js"></script>
  </body>
</html>
