<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://img.icons8.com/?size=100&id=37930&format=png&color=000000"
    />
    <link rel="stylesheet" href="./styles/sidebar.css" />
    <link rel="stylesheet" href="./styles/global.css" />
    <link rel="stylesheet" href="./styles/grafico.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://kit.fontawesome.com/0f47102407.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="sidebar">
      <button class="menu-item" id="toggleSidebar">
        <i class="fa-solid fa-bars"></i>
        <span class="menu-text">Recolher</span>
      </button>
      <h4>Menu</h4>
      <ul>
        <!-- Itens do menu serão gerados dinamicamente aqui -->
      </ul>
    </div>
    <div class="content">
      <h2>Últimas Notas Fiscais</h2>
      <table id="tabelaNotas">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Data cadastrada</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dados das notas serão inseridos aqui -->
        </tbody>
      </table>
      <br />
      <hr />
      <br />
      <h2>Gráfico de Notas por Dia</h2>
      <div
        class="chart-container"
        style="position: relative; height: 30vh; width: 85vw"
      >
        <canvas id="graficoNotas"></canvas>
      </div>
      <br />
      <hr />
      <br />
      <h2>Gráfico de Produtos Mais Vendidos</h2>
      <div
        class="chart-container"
        style="position: relative; height: 30vh; width: 85vw"
      >
        <canvas id="graficoProdutosMaisVendidos"></canvas>
      </div>
    </div>
    <script src="./js/dashboard.js"></script>
    <script src="./js/sidebar.js"></script>
  </body>
</html>
