:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #c7815c;
  --clr-primary-a10: #cf8f6d;
  --clr-primary-a20: #d69c7e;
  --clr-primary-a30: #ddaa90;
  --clr-primary-a40: #e3b8a2;
  --clr-primary-a50: #eac6b4;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #221c19;
  --clr-surface-tonal-a10: #37312e;
  --clr-surface-tonal-a20: #4d4744;
  --clr-surface-tonal-a30: #645f5c;
  --clr-surface-tonal-a40: #7c7775;
  --clr-surface-tonal-a50: #95918f;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: var(--clr-surface-a0); /* Fundo escuro */
  color: var(--clr-light-a0); /* Texto claro */
  display: flex;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

/* Conteúdo Principal */
.content {
  height: auto;
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  background-color: var(--clr-surface-tonal-a10); /* Fundo suave escuro */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.7s;
  overflow-y: auto;
}

.content.expanded {
  margin-left: 70px;
  width: calc(100% - 70px);
}

/* Responsividade */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  form input,
  form select,
  form button {
    width: 100%;
  }

  table th,
  table td {
    padding: 10px;
  }

  #exportArea {
    flex-direction: column;
    align-items: center;
  }

  #exportArea button {
    margin: 10px 0;
  }
}

/* Estilos para os Formulários */
h2 {
  margin-bottom: 10px;
  color: var(--clr-primary-a0); /* Título primário */
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input,
form select,
form button {
  margin-bottom: 8px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--clr-surface-a20); /* Fundo escuro mais suave */
  color: var(--clr-light-a0);
  border: 1px solid var(--clr-surface-a10);
  border-radius: 5px;
}

form button {
  background-color: var(--clr-primary-a0); /* Botão primário */
  color: var(--clr-light-a0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--clr-primary-a10);
}

/* Estilos Globais para o Formulário */
.container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 5px;
}

label {
  margin: 5px 0;
  color: var(--clr-light-a0);
}

/* Estilos da Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--clr-surface-tonal-a10);
  color: var(--clr-light-a0);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--clr-surface-a20);
}

table th {
  background-color: var(--clr-primary-a0);
  color: var(--clr-light-a0);
  text-transform: uppercase;
  font-weight: bold;
}

table tbody tr:hover {
  background-color: var(--clr-surface-a20);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table tbody tr:nth-child(even) {
  background-color: var(--clr-surface-a20);
}

table tbody tr:nth-child(odd) {
  background-color: var(--clr-surface-a30);
}

table tbody tr td {
  color: var(--clr-light-a0);
}

/* Estilos do Export Area */
#exportArea {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 8px;
  padding: 10px;
}

#exportArea button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: var(--clr-primary-a0);
  color: var(--clr-light-a0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#exportArea button:hover {
  background-color: var(--clr-primary-a10);
}

/* ============== TABELA COM SCROLL ============== */
.tabela-scroll {
  position: relative;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid var(--clr-surface-a20);
  margin-top: 20px;
}

/* Remove o espaço entre cabeçalho e corpo */
.tabela-scroll table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilos para células do corpo */
.tabela-scroll td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--clr-surface-a20);
}

/* Efeitos de hover e zebrado */
.tabela-scroll tbody tr:hover {
  background-color: var(--clr-surface-a20);
}

.tabela-scroll tbody tr:nth-child(even) {
  background-color: var(--clr-surface-a20);
}

.tabela-scroll tbody tr:nth-child(odd) {
  background-color: var(--clr-surface-a30);
}

#btnFiltrar {
  margin-bottom: 10px;
}
