body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.table-responsive {
  margin-top: 20px;
}

.btn {
  margin-right: 5px;
}

/* Ajuste para o layout da tabela */
table {
  table-layout: fixed;
  width: 100%; /* Garante que a tabela ocupe toda a largura disponível */
}

/* Ajuste das células da tabela */
th,
td {
  padding: 12px; /* Aumenta o espaçamento interno para tornar as células mais "arejadas" */
  text-align: center; /* Alinha o conteúdo das células no centro */
}

/* Ajusta a largura mínima das células */
td {
  min-width: 120px; /* Garante uma largura mínima para as células */
}

/* Ajuste para a coluna de valores */
td:nth-child(2),
th:nth-child(2) {
  width: 150px; /* Ajusta a largura das células da coluna 'Valor' */
}

/* Ajuste para a coluna de CPF/CNPJ */
td:nth-child(4),
th:nth-child(4) {
  width: 200px; /* Ajusta a largura das células da coluna 'CPF/CNPJ' */
}

/* Ajuste para a coluna de ações */
td:nth-child(5),
th:nth-child(5) {
  width: 180px; /* Ajusta a largura das células da coluna 'Ações' */
}
