:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #3c1e6b;
  --clr-primary-a10: #52357b;
  --clr-primary-a20: #674b8b;
  --clr-primary-a30: #7c639b;
  --clr-primary-a40: #917bab;
  --clr-primary-a50: #a794bc;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #17141b;
  --clr-surface-tonal-a10: #2c2930;
  --clr-surface-tonal-a20: #434046;
  --clr-surface-tonal-a30: #5b585e;
  --clr-surface-tonal-a40: #747277;
  --clr-surface-tonal-a50: #8e8c90;
}

/* Barra Lateral */
.sidebar {
  width: 200px;
  background-color: var(--clr-surface-tonal-a10); /* Fundo tonal */
  color: var(--clr-light-a0);
  height: 100%;
  position: fixed;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.7s;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar h4 {
  margin-bottom: 10px;
  display: none;
}

.sidebar.collapsed h4 {
  display: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar button {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave para o hover */
}

.sidebar ul li button {
  width: 100%;
  padding: 8px;
  background-color: var(--clr-primary-a20); /* Botão primário */
  color: var(--clr-light-a0);
  border: none;
  border-radius: 5px;
}

.sidebar ul li button:hover {
  background-color: var(--clr-primary-a30); /* Cor do hover */
}

.sidebar.collapsed ul li button {
  padding: 8px 0;
  text-align: center;
}
